.categories {
  display: flex;
  flex-direction: column;
  flex: 0 4 300px;
  padding: .5em;
}



.categories a {
  background-image: linear-gradient(to right, #4B79A1 0%, #283E51 51%, #4B79A1 100%);
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  text-align: center;
  margin: 0 1em 0.5em;
  padding: 1em;
}

.categories a:hover {
  background-position: right center;
  text-decoration: none;
  border-top: 5px solid #c9fff8;
  border-bottom: 5px solid #c9fff8;
  margin-bottom: calc(.5em - 4px);
  color: rgb(243, 242, 242);
  font-size: 20px;
  border-radius: .5rem;
  text-decoration-line: none;
}